@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind variants;

:root{
  --color-bg: #F0EEED;
}

body{
    background: var(--color-bg);
    @apply text-gray-700;
}

input{
    background: var(--color-bg);
}

header{
  background: var(--color-bg);
}

footer{
  background: var(--color-bg);
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
